<template>
  <div class="root">
    <Header />
    <h2 class="page-title" style="margin: 36px 0 16px">
      Продажа строительных вышек тур
    </h2>
    <h3
      style="text-align: center; color: #333333 !important; margin-bottom: 24px"
    >
      От 8900₽
    </h3>

    <div class="site-section border-bottom bg-light py-5">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-5">
            <h2
              class="text-black h6 font-weight-bold text-uppercase"
              data-aos="fade"
            >
              Наша компания предлагает
            </h2>
          </div>
          <div
            class="col-md-6 col-lg-4 mb-5 mb-lg-0"
            data-aos="fade"
            data-aos-delay="0"
          >
            <div class="d-flex align-items-center">
              <div class="mr-3">
                <span class="flaticon-worker display-3 text-primary"></span>
              </div>
              <div class="">
                <h2 class="text-black">Своевременное обслуживание</h2>
                <strong class="text-black">сдаваемой напрокат</strong> продукции
              </div>
            </div>
          </div>

          <div
            class="col-md-6 col-lg-4 mb-5 mb-lg-0"
            data-aos="fade"
            data-aos-delay="200"
          >
            <div class="d-flex align-items-center">
              <div class="mr-3">
                <span
                  class="flaticon-planet-earth display-3 text-primary"
                ></span>
              </div>
              <div class="">
                <h2 class="text-black">Доставка по</h2>
                <strong class="text-black"
                  >Санкт-петербургу и Ленинградской</strong
                >
                области
              </div>
            </div>
          </div>

          <div
            class="col-md-6 col-lg-4 mb-0 mb-lg-0"
            data-aos="fade"
            data-aos-delay="300"
          >
            <div class="d-flex align-items-center">
              <div class="mr-3">
                <span class="flaticon-excavator display-3 text-primary"></span>
              </div>
              <div class="">
                <h2 class="text-black">Гарантируем качество</h2>
                <strong class="text-black">и надежность</strong> изделий
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-12 text-center">
            <h2 class="font-weight-light text-black display-4">
              Купить строительные вышки туры по доступным ценам.
            </h2>
            <p>
              В продаже имеются передвижные конструкции различных видов.
              Передвижная вышка тура производится из тонкостенных металлических
              труб, что обеспечивает минимальный вес конструкции. По стоимости
              изделия этого типа более дешевые в сравнении с полноценными
              лесами, а по качеству и функциональности почти не уступают.
              Единственное отличие – на площадке могут одновременно работать не
              более 2-х человек.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div
            class="col-md-6 bg-image bg-sm-height mb-5 mb-md-0 order-md-2"
            style="background-image: url('/images/img_1_colored.jpg');"
            data-aos="fade-up"
          ></div>
          <div class="col-md-6 pr-md-5 order-md-1">
            <h2 class="display-3 line-height-xs text-black mb-4">
              Вышки туры<strong> строительные</strong>
            </h2>
            <p class="mb-4">
              Купить вышку туру – оптимальное решение при необходимости
              выполнения строительных и ремонтных работ на высоте. Разборные
              конструкции на колесах удобно перемещать в пределах рабочей
              площадки, а невысокая цена делает их доступными даже для домашних
              мастеров. Для того чтобы купить или взять в аренду вышки-туры Вам
              необходимо позвонить по тел. +7 (905) 209 48 48 или +7 (921)
              972-06-04 и сделать заказ на интересующее Вас время, обговорив
              условия покупки а так же сроки аренды и цену за сутки.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="promo py-5 bg-primary" data-aos="fade">
      <div class="container text-center">
        <h2 class="d-block mb-0 font-weight-light text-white">
          <nuxt-link to="/calculator" class="text-white d-block"
            >Калькулятор</nuxt-link
          >
        </h2>
      </div>
    </div>
    <Footer />
  </div>
</template>
<script>
import Header from "@/components/Header";
import Slider from "@/components/Slider";
import Footer from "@/components/Footer";
export default {
  components: { Header, Slider, Footer }
};
</script>
