<template>
  <div class="root">
    <Header />
    <h2 class="page-title">Аренда оборудования</h2>

    <div class="site-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-12 text-center">
            <h2 class="font-weight-light text-black display-4">
              Взять в аренду строительные леса и инструменты по доступным ценам.
            </h2>
            <p>
              Не всегда есть возможность приобрести в постоянное пользование
              надежное строительное оборудование. А иногда это просто
              нерентабельно. В таких случаях необходимые для работы
              приспособления и инструменты можно взять в аренду на любое
              необходимое время. У нас вы можете взять в аренду строительное
              оборудование по самым выгодным ценам. Для того чтобы взять в
              аренду строительное оборудование, Вам необходимо позвонить по тел.
              +7 (905) 209 48 48 или+7 (921) 972-06-04 и сделать заказ на
              интересующее Вас время, обговорив сроки аренды и цену за сутки.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div
            class="col-md-6 bg-image bg-sm-height mb-5 mb-md-0 order-md-2"
            style="background-image: url('/images/noga.jpg');"
            data-aos="fade-up"
          ></div>
          <div class="col-md-6 pr-md-5 order-md-1">
            <h2 class="display-3 line-height-xs text-black mb-4">
              Мы<strong> предлагаем</strong>
            </h2>
            <p class="mb-4">Аренда вибра ноги</p>
            <p class="mb-4">Аренда вибра плиты</p>
            <p class="mb-4">Аренда мотопомпы 80</p>
            <p class="mb-4">Аренда дизельного генератора 5Кв</p>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section site-block-3 bg-light">
      <div class="container">
        <div class="row align-items-stretch">
          <div
            class="col-lg-6 mb-5 mb-lg-0 bg-image bg-md-height"
            style="background-image: url('/images/img_1_colored.jpg')"
          ></div>
          <div class="col-lg-6 h-100">
            <div class="row row-items">
              <div class="col-md-6 mb-5 mb-md-0">
                <a
                  href="#"
                  class="d-flex text-center feature active p-4 mb-4 bg-white"
                >
                  <span class="align-self-center w-100">
                    <span class="d-block mb-3">
                      <span class="flaticon-industry display-3"></span>
                    </span>
                    <h3><strong class="d-block">Гарантия</strong> качества</h3>
                  </span>
                </a>
              </div>
              <div class="col-md-6 mb-5 mb-md-0">
                <a
                  href="#"
                  class="d-flex text-center feature p-4 mb-4 bg-white"
                >
                  <span class="align-self-center w-100">
                    <span class="d-block mb-3">
                      <span class="flaticon-worker display-3"></span>
                    </span>
                    <h3>
                      <strong class="d-block">Своевременное</strong>
                      обслуживание
                    </h3>
                  </span>
                </a>
              </div>
            </div>
            <div class="row row-items last">
              <div class="col-md-6 mb-5 mb-md-0">
                <a
                  href="#"
                  class="d-flex text-center feature p-4 mb-4 bg-white"
                >
                  <span class="align-self-center w-100">
                    <span class="d-block mb-3">
                      <span class="flaticon-planet-earth display-3"></span>
                    </span>
                    <h3>
                      <strong class="d-block">Доставка по</strong>
                      Санкт-петербургу и Ленинградской области
                    </h3>
                  </span>
                </a>
              </div>
              <div class="col-md-6 mb-5 mb-md-0">
                <a
                  href="#"
                  class="d-flex text-center active feature p-4 mb-4 bg-white"
                >
                  <span class="align-self-center w-100">
                    <span class="d-block mb-3">
                      <span class="flaticon-excavator display-3"></span>
                    </span>
                    <h3><strong class="d-block">Надежность</strong> изделий</h3>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="promo py-5 bg-primary" data-aos="fade">
      <div class="container text-center">
        <h2 class="d-block mb-0 font-weight-light text-white">
          <nuxt-link to="/calculator" class="text-white d-block"
            >Калькулятор</nuxt-link
          >
        </h2>
      </div>
    </div>
    <Footer />
  </div>
</template>
<script>
import Header from "@/components/Header";
import Slider from "@/components/Slider";
import Footer from "@/components/Footer";
export default {
  components: { Header, Slider, Footer }
};
</script>
