<template>
  <div class="root">
    <Header />
    <h2 class="page-title">Покраска и ремонт фасадов</h2>

    <img class="services-entry" src="/images/pokraska.jpg" alt="" />
    <div class="site-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-12 text-center">
            <h2 class="font-weight-light text-black display-4">
              Фасадные ремонтные работы
            </h2>
            <p>
              Многие люди неверно считают, что фасад здания играет исключительно
              декоративную роль и относятся к фасадным работам не совсем
              серьёзно, однако это далеко не так. На самом деле внешняя стена
              сооружения имеет защитную функцию от непогоды, сильных ветров,
              гроз и летней жары, а также является отличным утеплителем и одной
              только покраской фасада здесь обойтись невозможно. Вот почему
              необходимо, чтобы фасадные работы проводились регулярно и
              своевременно. Ремонт и покраска фасадов зданий являет собой
              фасадные ремонтные работы по утеплению, звукоизоляции, облицовке и
              отделке. Благодаря этому процессу можно намного увеличить комфорт
              в помещении, а также уменьшить затраты на отоплении, с отличной
              экономией бюджета.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div
            class="col-md-6 bg-image bg-sm-height mb-5 mb-md-0 order-md-2"
            style="background-image: url('/images/pokraska-fasada.jpg');"
            data-aos="fade-up"
          ></div>
          <div class="col-md-6 pr-md-5 order-md-1">
            <h2 class="display-3 line-height-xs text-black mb-4">
              Мы предлагаем:<strong> </strong>
            </h2>
            <ul class="site-block-check">
              <li>Перекрашивание фасада здания</li>
              <li>
                Герметизацию швов и гидроизоляцию стен
              </li>

              <li>Ремонт трещин и мелких механических повреждений</li>
              <li>
                Окрашивание металлоконструкций
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section site-block-3 bg-light">
      <div class="container">
        <div class="row align-items-stretch">
          <div
            class="col-lg-6 mb-5 mb-lg-0 bg-image bg-md-height"
            style="background-image: url('/images/img_1_colored.jpg')"
          ></div>
          <div class="col-lg-6 h-100">
            <div class="row row-items">
              <div class="col-md-6 mb-5 mb-md-0">
                <a
                  href="#"
                  class="d-flex text-center feature active p-4 mb-4 bg-white"
                >
                  <span class="align-self-center w-100">
                    <span class="d-block mb-3">
                      <span class="flaticon-industry display-3"></span>
                    </span>
                    <h3><strong class="d-block">Гарантия</strong> качества</h3>
                  </span>
                </a>
              </div>
              <div class="col-md-6 mb-5 mb-md-0">
                <a
                  href="#"
                  class="d-flex text-center feature p-4 mb-4 bg-white"
                >
                  <span class="align-self-center w-100">
                    <span class="d-block mb-3">
                      <span class="flaticon-worker display-3"></span>
                    </span>
                    <h3>
                      <strong class="d-block">Своевременное</strong>
                      обслуживание
                    </h3>
                  </span>
                </a>
              </div>
            </div>
            <div class="row row-items last">
              <div class="col-md-6 mb-5 mb-md-0">
                <a
                  href="#"
                  class="d-flex text-center feature p-4 mb-4 bg-white"
                >
                  <span class="align-self-center w-100">
                    <span class="d-block mb-3">
                      <span class="flaticon-planet-earth display-3"></span>
                    </span>
                    <h3>
                      <strong class="d-block">Доставка по</strong>
                      Санкт-петербургу и Ленинградской области
                    </h3>
                  </span>
                </a>
              </div>
              <div class="col-md-6 mb-5 mb-md-0">
                <a
                  href="#"
                  class="d-flex text-center active feature p-4 mb-4 bg-white"
                >
                  <span class="align-self-center w-100">
                    <span class="d-block mb-3">
                      <span class="flaticon-excavator display-3"></span>
                    </span>
                    <h3><strong class="d-block">Надежность</strong> изделий</h3>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="promo py-5 bg-primary" data-aos="fade">
      <div class="container text-center">
        <h2 class="d-block mb-0 font-weight-light text-white">
          <nuxt-link to="/calculator" class="text-white d-block"
            >Калькулятор</nuxt-link
          >
        </h2>
      </div>
    </div>
    <Footer />
  </div>
</template>
<script>
import Header from "@/components/Header";
import Slider from "@/components/Slider";
import Footer from "@/components/Footer";
export default {
  components: { Header, Slider, Footer }
};
</script>
