<template>
  <div class="root">
    <Header />
    <h2 class="page-title">Уборка снега</h2>
    <img class="services-entry" src="/images/uborka.jpg" alt="" />
    <div class="site-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-12 text-center">
            <h2 class="font-weight-light text-black display-4">
              Заказать уборку снега в Санкт-Петербурге
            </h2>
            <p>
              Внезапный и сильный снегопад может доставить множество неудобств,
              особенно когда территория не приспособлена для быстрого очищения.
              Предлагает услугу выполнения разового заказа, а также заключения
              договоров на постоянной основе, которые помогут поддерживать
              чистоту на протяжении всего зимнего периода. Единоразовый вывоз
              снега поможет решить проблему в случае внезапного снегопада, когда
              основная городская техника сосредотачивает свою работу на больших
              дорогах, не успевая убирать и расчищать во дворах. Наша
              организация поможет вам решить любую проблему. Быстрая и
              качественная уборка снега позволит вам чувствовать себя комфортно
              и безопасно даже в самую снежную зиму. Мы ценим каждого своего
              клиента, поэтому выполняем свою работу не только быстро, но и
              максимально качественно. Заказать услуги по уборке снега можно
              связавшись с менеджером по телефону. Заявки принимаются 7 дней в
              неделю. Чтобы купить уборку снега достаточно только позвонить,
              остальное мы сделаем за Вас!
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section site-block-3 bg-light">
      <div class="container">
        <div class="row align-items-stretch">
          <div
            class="col-lg-6 mb-5 mb-lg-0 bg-image bg-md-height"
            style="background-image: url('/images/img_1_colored.jpg')"
          ></div>
          <div class="col-lg-6 h-100">
            <div class="row row-items">
              <div class="col-md-6 mb-5 mb-md-0">
                <a
                  href="#"
                  class="d-flex text-center feature active p-4 mb-4 bg-white"
                >
                  <span class="align-self-center w-100">
                    <span class="d-block mb-3">
                      <span class="flaticon-industry display-3"></span>
                    </span>
                    <h3><strong class="d-block">Гарантия</strong> качества</h3>
                  </span>
                </a>
              </div>
              <div class="col-md-6 mb-5 mb-md-0">
                <a
                  href="#"
                  class="d-flex text-center feature p-4 mb-4 bg-white"
                >
                  <span class="align-self-center w-100">
                    <span class="d-block mb-3">
                      <span class="flaticon-worker display-3"></span>
                    </span>
                    <h3>
                      <strong class="d-block">Своевременное</strong>
                      обслуживание
                    </h3>
                  </span>
                </a>
              </div>
            </div>
            <div class="row row-items last">
              <div class="col-md-6 mb-5 mb-md-0">
                <a
                  href="#"
                  class="d-flex text-center feature p-4 mb-4 bg-white"
                >
                  <span class="align-self-center w-100">
                    <span class="d-block mb-3">
                      <span class="flaticon-planet-earth display-3"></span>
                    </span>
                    <h3>
                      <strong class="d-block">Доставка по</strong>
                      Санкт-петербургу и Ленинградской области
                    </h3>
                  </span>
                </a>
              </div>
              <div class="col-md-6 mb-5 mb-md-0">
                <a
                  href="#"
                  class="d-flex text-center active feature p-4 mb-4 bg-white"
                >
                  <span class="align-self-center w-100">
                    <span class="d-block mb-3">
                      <span class="flaticon-excavator display-3"></span>
                    </span>
                    <h3><strong class="d-block">Надежность</strong> изделий</h3>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="promo py-5 bg-primary" data-aos="fade">
      <div class="container text-center">
        <h2 class="d-block mb-0 font-weight-light text-white">
          <nuxt-link to="/calculator" class="text-white d-block"
            >Калькулятор</nuxt-link
          >
        </h2>
      </div>
    </div>
    <Footer />
  </div>
</template>
<script>
import Header from "@/components/Header";
import Slider from "@/components/Slider";
import Footer from "@/components/Footer";
export default {
  components: { Header, Slider, Footer }
};
</script>
<style>
.services-entry {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
</style>
