<template>
  <div id="calc">
    <div class="container controls">
      <div class="row justify-content-end">
        <div class="col-4 text-right">
          <div class="btn btn-primary" @click="addRow">
            Добавить
          </div>
          <div class="btn btn-danger" @click="clear">
            Очистить
          </div>
        </div>
      </div>
    </div>
    <div class="container items">
      <div class="row items-header d-none d-sm-flex">
        <div class="col-md-2 col-12">
          <h6>Выберите тип оборудования</h6>
        </div>
        <div class="col-md-2 col-12">
          <h6>Количество</h6>
        </div>
        <div class="col-md-7 col-12">
          <h6>Срок аренды</h6>
        </div>
      </div>
      <div class="row item" v-for="row in rows" :key="row.key">
        <div class="col-md-2 col-12">
          <fieldset>
            <select name="type" v-model="rows[row.key].type">
              <option :value="1">Строительные леса</option>
              <option :value="2">Строительные туры (4.2 м)</option>
              <option :value="22">Строительные туры (7.4 м)</option>
              <option :value="22">Строительные туры (12.4 м)</option>
              <option :value="3">Генератор (5 кВ)</option>
              <option :value="4">Вибронога</option>
              <option :value="5">Виброплита</option>
              <option :value="6">Мотопомпа</option>
              <option :value="7">Мойка высокого давления</option>
            </select>
          </fieldset>
        </div>
        <div class="col-md-2 col-12">
          <fieldset>
            <input
              name="quantity"
              type="number"
              min="50"
              max="5000"
              step="1"
              :placeholder="
                rows[row.key].type == 1
                  ? 'Минимум 50 м²'
                  : rows[row.key].type == 2 ||
                    rows[row.key].type == 22 ||
                    rows[row.key].type == 222
                  ? ' шт.'
                  : ''
              "
              v-model="rows[row.key].quantity"
            />
          </fieldset>
        </div>
        <div class="col-md-6 col-12">
          <fieldset style="display: inline-block; width: unset">
            <button
              style="margin-right: 15px"
              class="btn btn-primary"
              @click="monthsDown(row.key)"
            >
              -
            </button>
            <span>
              {{
                row.months +
                  getUnitCase(row.months, " Месяц", " Месяца", " Месяцев")
              }}
            </span>
            <button
              style="margin-left: 15px"
              class="btn btn-primary"
              @click="monthsUp(row.key)"
            >
              +
            </button>
          </fieldset>
          <span class="divider"> и </span>

          <fieldset style="display: inline-block; width: unset">
            <button
              style="margin-right: 15px"
              class="btn btn-primary"
              @click="daysDown(row.key)"
            >
              -
            </button>
            <span>
              {{ row.days + getUnitCase(row.days, " День", " Дня", " Дней") }}
            </span>
            <button
              style="margin-left: 15px"
              class="btn btn-primary"
              @click="daysUp(row.key)"
            >
              +
            </button>
          </fieldset>
        </div>
        <div class="col-2 text-right d-none d-sm-block">
          <div class="btn btn-danger" @click="deleteRow(row.key)">
            Удалить
          </div>
        </div>
      </div>
    </div>
    <div class="container totals">
      <div class="row total">
        <div class="col-6">
          <h3>Итого:</h3>
        </div>
        <div class="col-6 text-right">
          <span class="total-count">
            {{ total + " руб." }}
          </span>
        </div>
        <div class="error" v-show="errorTime">
          Минимальный срок аренды - 1 месяц
        </div>
        <div class="error" v-show="errorQuantity">
          Минимальное количество - 50 м²
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      rows: [
        {
          key: 0,
          type: null,
          quantity: null,
          months: 0,
          days: 0
        }
      ],
      errorTime: false,
      errorQuantity: false
    };
  },
  computed: {
    total() {
      let total = 0;
      let itemPricePerDay = 0;
      let itemPricePerMonth = 0;
      let items = this.rows;

      items.forEach(item => {
        //Lesa
        if (item.type == 1) {
          if (item.months < 1) {
            this.showTimeError();
          } else {
            this.hideTimeError();
          }

          if (item.days >= 1 && item.days <= 31) {
            if (item.quantity >= 50 && item.quantity <= 300) {
              itemPricePerDay = 2.5;
            } else if (item.quantity >= 301 && item.quantity <= 500) {
              itemPricePerDay = 2;
            } else if (item.quantity >= 501 && item.quantity <= 1000) {
              itemPricePerDay = 1.5;
            } else if (item.quantity > 1000) {
              itemPricePerDay = 1;
            }
          }
          if (item.months >= 1) {
            if (item.quantity >= 50 && item.quantity <= 300) {
              itemPricePerMonth = 75;
            } else if (item.quantity >= 301 && item.quantity <= 500) {
              itemPricePerMonth = 60;
            } else if (item.quantity >= 501 && item.quantity <= 1000) {
              itemPricePerMonth = 45;
            } else if (item.quantity > 1000) {
              itemPricePerMonth = 30;
            }
          }
        }
        //Generator
        if (item.type == 3) {
          item.days > 1 ? (itemPricePerDay = 1120) : (itemPricePerDay = 1400);
          itemPricePerMonth = 34720;
        }
        //Tury 1
        if (item.type == 2) {
          item.days > 1 ? (itemPricePerDay = 750) : (itemPricePerDay = 600);
          itemPricePerMonth = 18000;
        }
        //Tury 2
        if (item.type == 22) {
          item.days > 1 ? (itemPricePerDay = 1500) : (itemPricePerDay = 1200);
          itemPricePerMonth = 36000;
        }
        //Tury 3
        if (item.type == 222) {
          item.days > 1 ? (itemPricePerDay = 1800) : (itemPricePerDay = 1440);
          itemPricePerMonth = 43200;
        }
        //Noga
        if (item.type == 4) {
          item.days > 1 ? (itemPricePerDay = 2000) : (itemPricePerDay = 1600);
          itemPricePerMonth = 48000;
        }
        //Moyka
        if (item.type == 7) {
          item.days > 1 ? (itemPricePerDay = 350) : (itemPricePerDay = 350);
          itemPricePerMonth = 10500;
        }
        /* 
        if (item.type == 5) {
          item.days > 1 ? (itemPricePerDay = 350) : (itemPricePerDay = 350);
          itemPricePerMonth = 10500;
        } */
        //Misc
        if (item.days >= 31) {
          item.months++;
          item.days = 0;
        }

        total +=
          item.months * item.quantity * itemPricePerMonth +
          item.days * item.quantity * itemPricePerDay;
      });
      return total;
    }
  },
  methods: {
    addRow() {
      this.rows.push({
        key: this.rows.length,
        type: null,
        quantity: null,
        months: 0,
        days: 0
      });
    },
    deleteRow(i) {
      this.rows = this.rows.filter(row => row.key != i);
    },
    clear() {
      this.rows = [];
    },
    getUnitCase(value, unit1, unit2, unit3) {
      value = Math.abs(value);
      if (value % 100 >= 11 && value % 100 <= 19) {
        return unit3;
      } else {
        switch (value % 10) {
          case 1:
            return unit1;
          case 2:
          case 3:
          case 4:
            return unit2;
          default:
            return unit3;
        }
      }
    },
    daysUp(key) {
      if (this.rows[key].days <= 30) {
        this.rows[key].days++;
      }
    },
    daysDown(key) {
      if (this.rows[key].days >= 1) {
        this.rows[key].days--;
      }
    },
    monthsUp(key) {
      this.rows[key].months++;
    },
    monthsDown(key) {
      if (this.rows[key].months >= 1) {
        this.rows[key].months--;
      }
    },
    showTimeError() {
      this.errorTime = true;
    },
    hideTimeError() {
      this.errorTime = false;
    },
    showQuantityError() {
      this.errorQuantity = true;
    },
    hideQuantityError() {
      this.errorQuantity = false;
    }
  }
};
</script>
<style scoped>
.items {
  min-height: 240px;
}
.item {
  margin: 15px -15px;
  line-height: 38px;
}
.divider {
  margin: 0 30px;
  font-weight: bold;
}
fieldset {
  display: block;
  width: 100%;
}
.controls {
  margin: 15px auto;
}
.total {
  position: relative;
  background-color: #f9dc24;
  color: #ffffff;
  padding: 15px;
}
.total h3 {
  margin-bottom: 0;
  line-height: 1.7;
}
.total-count {
  font-size: 1.75rem;
}
input,
select {
  height: 38px;
  width: 100%;
}
.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  font-weight: bold;
  font-size: 20px;
}
@media (max-width: 576px) {
  .divider {
    margin: 0 10px;
  }
  .btn {
    margin: 0 !important;
  }
  select,
  input {
    border: 1px solid #f9dc24;
  }
  input[name="quantity"] {
    margin: 10px 0;
  }
}
</style>
