<template>
  <footer class="site-footer" style="background-color: #e9e9e9">
    <div class="container">
      <div class="col-lg-5">
        <div class="row">
          <div class="col-md-12">
            <h3 class="footer-heading mb-4">Санкт-Петербург</h3>
          </div>
          <div class="col-md-6">
            <p>Уманский переулок, дом 79</p>
          </div>
          <div class="col-md-6">
            Tel. +7 (905) 209 48 48 <br />Tel. +7 (921) 972-06-04 <br />
            Mail. info@ak-rental.ru
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>
