<template>
  <header>
    <div class="site-wrap">
      <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
      </div>
      <!-- .site-mobile-menu -->

      <div class="site-navbar-wrap bg-white">
        <div class="site-navbar-top">
          <div class="container py-2">
            <div class="row align-items-center">
              <div class="col-12">
                <div class="d-flex ml-auto">
                  <a
                    href="mailto:info@ak-rental.ru"
                    class="d-flex align-items-center ml-auto mr-4"
                  >
                    <span class="icon-envelope mr-2"></span>
                    <span class="d-none d-md-inline-block"
                      >info@ak-rental.ru</span
                    >
                  </a>
                  <a href="tel:+79052094848" class="d-flex align-items-center">
                    <span class="icon-phone mr-2"></span>
                    <span class="d-none d-md-inline-block"
                      >+7 (905) 209 48 48</span
                    >
                  </a>
                  <a
                    href="tel:+79219720604"
                    class="d-flex align-items-center tel2"
                  >
                    <span class="icon-phone mr-2"></span>
                    <span class="d-none d-md-inline-block"
                      >+7 (921) 972-06-04</span
                    >
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="site-navbar bg-light">
          <div class="container py-1">
            <div class="row align-items-center">
              <div class="col-2">
                <h2 class="mb-0 site-logo">
                  <nuxt-link
                    to="/"
                    style="font-family: 'Righteous', cursive; color: #333333 !important"
                    >AK-Rental</nuxt-link
                  >
                </h2>
              </div>
              <div class="col-10">
                <nav class="site-navigation text-right" role="navigation">
                  <div class="container">
                    <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3">
                      <a
                        href="#"
                        class="site-menu-toggle js-menu-toggle text-black"
                        @click="openMenu"
                        ><span class="icon-menu h3"></span
                      ></a>
                    </div>
                    <ul
                      v-show="(mobile && showMenu) || !mobile"
                      class="site-menu js-clone-nav d-lg-block"
                    >
                      <li
                        class="has-children"
                        @click="showChildren('prodazha')"
                      >
                        <a href="#" @click="e => e.preventDefault()">Продажа</a>
                        <transition :name="mobile ? 'slide' : ''">
                          <ul
                            class="arrow-top child"
                            :class="!mobile ? 'dropdown' : ''"
                            v-show="!mobile || showChild0"
                          >
                            <li>
                              <nuxt-link to="/prodazha/lesa">Леса</nuxt-link>
                            </li>
                            <li>
                              <nuxt-link to="/prodazha/tury"
                                >Вышки туры</nuxt-link
                              >
                            </li>
                          </ul>
                        </transition>
                      </li>
                      <li class="has-children" @click="showChildren('arenda')">
                        <a href="#" @click="e => e.preventDefault()">Аренда</a>
                        <transition :name="mobile ? 'slide' : ''">
                          <ul
                            class="arrow-top child"
                            :class="!mobile ? 'dropdown' : ''"
                            v-show="!mobile || showChild1"
                          >
                            <li>
                              <nuxt-link to="/arenda/lesa">Леса</nuxt-link>
                            </li>
                            <li>
                              <nuxt-link to="/arenda/instrumenty"
                                >Инструменты</nuxt-link
                              >
                            </li>
                          </ul>
                        </transition>
                      </li>
                      <li><nuxt-link to="/about">О компании</nuxt-link></li>
                      <li class="has-children" @click="showChildren('uslugi')">
                        <a href="#" @click="e => e.preventDefault()">Услуги</a>
                        <transition :name="mobile ? 'slide' : ''">
                          <ul
                            class="arrow-top child"
                            :class="!mobile ? 'dropdown' : ''"
                            v-show="!mobile || showChild2"
                          >
                            <!-- <li>
                              <nuxt-link to="/services/arendaoborudovaniya"
                                >Аренда оборудования</nuxt-link
                              >
                            </li> -->
                            <li>
                              <nuxt-link to="/services/moyka"
                                >Мойка фасадов здания</nuxt-link
                              >
                            </li>
                            <li>
                              <nuxt-link to="/services/uborka"
                                >Уборка снега</nuxt-link
                              >
                            </li>
                            <li>
                              <nuxt-link to="/services/pokraska"
                                >Покраска и ремонт фасадов</nuxt-link
                              >
                            </li>
                          </ul>
                        </transition>
                      </li>
                      <li><nuxt-link to="/contacts">Контакты</nuxt-link></li>
                      <li>
                        <nuxt-link to="/calculator">Калькулятор</nuxt-link>
                      </li>
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>
<script>
import AOS from "aos";
export default {
  data() {
    return {
      showMenu: false,
      showChild0: false,
      showChild1: false,
      showChild2: false
    };
  },
  methods: {
    openMenu() {
      this.showMenu = !this.showMenu;
    },
    showChildren(child) {
      if (child === "prodazha") {
        this.showChild0 = !this.showChild0;
      } else if (child === "arenda") {
        this.showChild1 = !this.showChild1;
      } else if (child === "uslugi") {
        this.showChild2 = !this.showChild2;
      }
    }
  },
  computed: {
    mobile() {
      if (process.client) {
        let width = document.documentElement.clientWidth;
        if (width < 576) {
          return true;
        } else {
          return false;
        }
      }
    }
  },
  mounted() {
    AOS.init();
  }
};
</script>
<style>
.tel2 {
  margin-left: 12px;
}
.site-logo {
  text-align: center;
}
.site-logo a:hover {
  color: #f9dc24 !important;
}
.site-menu li {
  color: #000 !important;
}
@media (max-width: 576px) {
  header {
    position: sticky;
    top: 0;
    background-color: #c4c3be;
    z-index: 101;
  }
  .site-menu {
    position: fixed;
    top: 113px;
    right: 0;
    width: 100%;
    height: calc(100vh - 113px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-around;
    padding: 16px 24px;
    background-color: #f9dc24;
    overflow: scroll;
  }
  .site-menu a:active,
  .site-menu a:hover {
    color: #000 !important;
  }
  .arrow-top::before {
    content: none !important;
  }
  .site-menu li {
    display: block !important;
    width: 100%;
    color: #000 !important;
    line-height: 1.8em !important;
  }
  .child {
    overflow: hidden;
    transition: height 500ms ease;
  }
  .slide-enter-active,
  .slide-leave-active {
    transition: all 0.3s ease;
  }
  .slide-enter,
  .slide-leave-to {
    max-height: 0;
  }
  .slide-enter-to,
  .slide-leave {
    max-height: 120px;
  }
}
</style>
