<template>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div
        v-for="(slide, i) in slides"
        :style="{ backgroundImage: 'url(/images/' + slide.url + ')' }"
        class="swiper-slide"
        :key="i"
      >
        <div class="container">
          <div
            class="row align-items-center justify-content-center text-center"
          >
            <div class="col-md-10">
              <h2 class="mb-5">
                {{ slide.header }}
              </h2>
            </div>
          </div>
        </div>
        <div class="slide-bg"></div>
      </div>
    </div>
  </div>
</template>
<script>
import Swiper from "swiper";
import SwiperStyle from "swiper/css/swiper.min.css";

export default {
  props: ["slides"],
  data() {
    return {
      swiper: null
    };
  },
  mounted() {
    this.swiper = new Swiper(".swiper-container", {
      slidesPerView: 1,
      direction: "horizontal",
      speed: 500,
      loop: true,
      autoplay: {
        delay: 5000
      }
    });
  }
};
</script>
<style scoped>
.swiper-slide {
  position: relative;
  width: 100%;
  height: calc(100vh - 122px);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.slide-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.swiper-slide .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 111;
}
.swiper-slide h2 {
  color: #ffffff;
}
</style>
