<template>
  <div class="root">
    <Header />
    <h2 class="page-title">Аренда строительных инструментов</h2>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <p class="text-center">
            Качественное и современное оборудование используется на всех этапах
            строительства, от подготовки участка, до отделочных работ.
            Приобретение стройинструмента в собственность – это серьезная
            нагрузка на общий бюджет, поэтому мы предлагаем нашим клиентам
            аренду оборудования в Санкт-Петербурге и Ленинградской области.
            Аренда – оптимальный выбор, заказчики получают только необходимый
            инструмент на срок проведения работ. Это существенная экономия, так
            как полностью исключаются дополнительные амортизационные расходы,
            затраты на ремонт и длительное хранение.
          </p>
        </div>
      </div>
    </div>
    <div class="site-section border-bottom bg-light py-5">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-5">
            <h2
              class="text-black h6 font-weight-bold text-uppercase"
              data-aos="fade"
            >
              Наша компания предлагает
            </h2>
          </div>
          <div
            class="col-md-6 col-lg-4 mb-5 mb-lg-0"
            data-aos="fade"
            data-aos-delay="0"
          >
            <div class="d-flex align-items-center">
              <div class="mr-3">
                <span class="flaticon-worker display-3 text-primary"></span>
              </div>
              <div class="">
                <h2 class="text-black">Своевременное обслуживание</h2>
                <strong class="text-black">сдаваемой напрокат</strong> продукции
              </div>
            </div>
          </div>

          <div
            class="col-md-6 col-lg-4 mb-5 mb-lg-0"
            data-aos="fade"
            data-aos-delay="200"
          >
            <div class="d-flex align-items-center">
              <div class="mr-3">
                <span
                  class="flaticon-planet-earth display-3 text-primary"
                ></span>
              </div>
              <div class="">
                <h2 class="text-black">Доставка по</h2>
                <strong class="text-black"
                  >Санкт-петербургу и Ленинградской</strong
                >
                области
              </div>
            </div>
          </div>

          <div
            class="col-md-6 col-lg-4 mb-0 mb-lg-0"
            data-aos="fade"
            data-aos-delay="300"
          >
            <div class="d-flex align-items-center">
              <div class="mr-3">
                <span class="flaticon-excavator display-3 text-primary"></span>
              </div>
              <div class="">
                <h2 class="text-black">Гарантируем качество</h2>
                <strong class="text-black">и надежность</strong> изделий
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-12 text-center">
            <h2 class="font-weight-light text-black display-4">
              Взять в аренду строительные леса и инструменты по доступным ценам.
            </h2>
            <p>
              Не всегда есть возможность приобрести в постоянное пользование
              надежное строительное оборудование. А иногда это просто
              нерентабельно. В таких случаях необходимые для работы
              приспособления и инструменты можно взять в аренду на любое
              необходимое время
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div
            class="col-md-6 bg-image bg-sm-height mb-5 mb-md-0 order-md-2"
            style="background-image: url('/images/hero_bg_3.jpg');"
            data-aos="fade-up"
          ></div>
          <div class="col-md-6 pr-md-5 order-md-1">
            <h2 class="display-3 line-height-xs text-black mb-4">
              Мы<strong> предлагаем</strong>
            </h2>
            <ul class="site-block-check">
              <li>Вибро-ноги и вибро-плиты</li>
              <li>Дизельныйе генераторы 5кВ</li>
              <li>Мотопомпы</li>
              <li>Мойки высокого давления</li>
              <li>электроинструменты и многое другое</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="promo py-5 bg-primary" data-aos="fade">
      <div class="container text-center">
        <h2 class="d-block mb-0 font-weight-light text-white">
          <nuxt-link to="/calculator" class="text-white d-block"
            >Калькулятор</nuxt-link
          >
        </h2>
      </div>
    </div>
    <Footer />
  </div>
</template>
<script>
import Header from "@/components/Header";
import Slider from "@/components/Slider";
import Footer from "@/components/Footer";
export default {
  components: { Header, Slider, Footer }
};
</script>
