<template>
  <div class="root">
    <Header />
    <h2 class="page-title">Аренда строительных лесов</h2>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <p class="text-center">
            Проведение монтажных и отделочных работ при возведении высотных
            зданий связано с использованием специального вспомогательного
            оборудования – рамных лесов. Сборка конструкции обеспечивают
            максимальную свободу перемещения и могут достигать 60 метров в
            высоту, в зависимости от характера проводимых мероприятий. Однако,
            ввиду особых требований к безопасности, производство подобных
            изделий связано с определенными трудностями, что отражается на их
            итоговой стоимости. Именно поэтому одним из самых актуальных
            вариантов для небольших компаний является недорогой прокат
            строительных лесов. Практика показывает, что аренда способствует
            существенной экономии средств: получая конструкцию во временное
            пользование, заказчик не обременяет себя расходами, связанными с
            хранением, эксплуатационным содержанием и доставкой оснащения до
            объекта.
          </p>
        </div>
      </div>
    </div>
    <div class="site-section border-bottom bg-light py-5">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-5">
            <h2
              class="text-black h6 font-weight-bold text-uppercase"
              data-aos="fade"
            >
              Наша компания предлагает
            </h2>
          </div>
          <div
            class="col-md-6 col-lg-4 mb-5 mb-lg-0"
            data-aos="fade"
            data-aos-delay="0"
          >
            <div class="d-flex align-items-center">
              <div class="mr-3">
                <span class="flaticon-worker display-3 text-primary"></span>
              </div>
              <div class="">
                <h2 class="text-black">Своевременное обслуживание</h2>
                <strong class="text-black">сдаваемой напрокат</strong>
                продукции
              </div>
            </div>
          </div>

          <div
            class="col-md-6 col-lg-4 mb-5 mb-lg-0"
            data-aos="fade"
            data-aos-delay="200"
          >
            <div class="d-flex align-items-center">
              <div class="mr-3">
                <span
                  class="flaticon-planet-earth display-3 text-primary"
                ></span>
              </div>
              <div class="">
                <h2 class="text-black">Доставка по</h2>
                <strong class="text-black"
                  >Санкт-петербургу и Ленинградской</strong
                >
                области
              </div>
            </div>
          </div>

          <div
            class="col-md-6 col-lg-4 mb-0 mb-lg-0"
            data-aos="fade"
            data-aos-delay="300"
          >
            <div class="d-flex align-items-center">
              <div class="mr-3">
                <span class="flaticon-excavator display-3 text-primary"></span>
              </div>
              <div class="">
                <h2 class="text-black">Гарантируем качество</h2>
                <strong class="text-black">и надежность</strong> изделий
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-12 text-center">
            <h2 class="font-weight-light text-black display-4">
              Взять в аренду строительные леса по доступным ценам.
            </h2>
            <p>
              Не всегда есть возможность приобрести в постоянное пользование
              надежное строительное оборудование. А иногда это просто
              нерентабельно. В таких случаях необходимые для работы
              приспособления и инструменты можно взять в аренду на любое
              необходимое время. Для того чтобы взять в аренду леса или
              вышки-туры, Вам необходимо позвонить по тел. +7 (905) 209 48 48
              или +7 (921) 972-06-04 и сделать заказ на интересующее Вас время,
              обговорив сроки аренды и цену за сутки.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div
            class="col-md-6 bg-image bg-sm-height mb-5 mb-md-0 order-md-2"
            style="background-image: url('/images/img_4_colored.jpg');"
            data-aos="fade-up"
          ></div>
          <div class="col-md-6 pr-md-5 order-md-1">
            <h2 class="display-3 line-height-xs text-black mb-4">
              Мы<strong> предлагаем</strong>
            </h2>
            <p class="mb-4">
              большой ассортимент различных изделий, техники и оснастки для
              оперативного и беспроблемного выполнения любых
              строительно-ремонтных, отделочных или реставрационных работ. Наша
              компания предоставляет услуги аренды качественного строительного
              оборудования для различных целей.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="sectione-price">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3 class="table-header">Ставка арендной платы</h3>
            <div style="overflow-x:scroll">
              <table style="overflow-x: scroll; max-width: 100%">
                <tr>
                  <td rowspan="2">Объем лесов</td>
                  <td rowspan="2">Срок аренды</td>
                  <td colspan="2" style="text-align: center;">Цена</td>
                </tr>
                <tr>
                  <td>В сутки р/м2</td>
                  <td>В месяц р/м2</td>
                </tr>
                <tr>
                  <td>От 50 до300</td>
                  <td>Любой*</td>
                  <td>2,50</td>
                  <td>75</td>
                </tr>
                <tr>
                  <td>от 301 до 500</td>
                  <td>Любой*</td>
                  <td>2р</td>
                  <td>60</td>
                </tr>
                <tr>
                  <td>от 501 до 1000</td>
                  <td>Любой*</td>
                  <td>1,50</td>
                  <td>45</td>
                </tr>
                <tr>
                  <td>от 1001 и выше</td>
                  <td>Любой*</td>
                  <td>1р</td>
                  <td>30р</td>
                </tr>
                <span>*Срок аренды не менее - 1 месяца</span>
              </table>
            </div>
          </div>
          <div class="col-md-5">
            <h3 class="table-header">Стоимость аренды 1 секции</h3>
            <div style="overflow-x:scroll">
              <table style="overflow-x: scroll; max-width: 100%">
                <tr>
                  <td>От 1 до 2 дней</td>
                  <td>500р</td>
                </tr>
                <tr>
                  <td>От 2 до 4 дней</td>
                  <td>350р</td>
                </tr>
                <tr>
                  <td>От 4 до 6 дней</td>
                  <td>200р</td>
                </tr>
                <tr>
                  <td>Более 6 дней</td>
                  <td>100р</td>
                </tr>
              </table>
            </div>
            <h5 class="table-sub-header">Вышка-тура 1.6/0.7</h5>
            <div style="overflow-x:scroll">
              <table style="overflow-x: scroll; max-width: 100%">
                <tr>
                  <td>Высота вышки (м.)</td>
                  <td>2,75</td>
                  <td>3,95</td>
                  <td>5,15</td>
                  <td>6,35</td>
                  <td>7,55</td>
                  <td>8,75</td>
                </tr>
                <tr>
                  <td>Залог (руб.)</td>
                  <td>7000</td>
                  <td>9000</td>
                  <td>10000</td>
                  <td>12000</td>
                  <td>13000</td>
                  <td>15000</td>
                </tr>
                <tr>
                  <td>Доставка (руб.)</td>
                  <td>1300</td>
                  <td>1300</td>
                  <td>1300</td>
                  <td>1300</td>
                  <td>1300</td>
                  <td>1300</td>
                </tr>
                <tr>
                  <td>Вес (кг.)</td>
                  <td>72</td>
                  <td>94</td>
                  <td>116</td>
                  <td>154</td>
                  <td>176</td>
                  <td>198</td>
                </tr>
                <tr>
                  <td>Аренда (руб./сутки.)</td>
                  <td>250</td>
                  <td>250</td>
                  <td>300</td>
                  <td>300</td>
                  <td>350</td>
                  <td>400</td>
                </tr>
              </table>
            </div>
            <h5 class="table-sub-header">Вышка-тура 2.0/1.0</h5>
            <div style="overflow-x:scroll">
              <table style="overflow-x: scroll; max-width: 100%">
                <tr>
                  <td>Высота вышки(м.)</td>
                  <td>2,75</td>
                  <td>3,95</td>
                  <td>5,15</td>
                  <td>6,35</td>
                  <td>7,55</td>
                  <td>8,75</td>
                  <td>9,95</td>
                  <td>11,15</td>
                  <td>12,35</td>
                  <td>13,55</td>
                  <td>14,75</td>
                  <td>15,95</td>
                  <td>17,20</td>
                  <td>18,40</td>
                  <td>19,60</td>
                  <td>20,80</td>
                </tr>
                <tr>
                  <td>Залог (руб.)</td>
                  <td>9000</td>
                  <td>10000</td>
                  <td>12000</td>
                  <td>13000</td>
                  <td>14000</td>
                  <td>16000</td>
                  <td>20000</td>
                  <td>22000</td>
                  <td>24000</td>
                  <td>25000</td>
                  <td>28000</td>
                  <td>30000</td>
                  <td>32000</td>
                  <td>34000</td>
                  <td>35000</td>
                  <td>37000</td>
                </tr>
                <tr>
                  <td>Доставка (руб.)</td>
                  <td>1300</td>
                  <td>1300</td>
                  <td>1300</td>
                  <td>1300</td>
                  <td>1300</td>
                  <td>1300</td>
                  <td>1300</td>
                  <td>1300</td>
                  <td>1300</td>
                  <td>1300</td>
                  <td>1300</td>
                  <td>1300</td>
                  <td>1300</td>
                  <td>1300</td>
                  <td>1300</td>
                  <td>1300</td>
                </tr>
                <tr>
                  <td>Вес (кг.)</td>
                  <td>112</td>
                  <td>144</td>
                  <td>176</td>
                  <td>234</td>
                  <td>266</td>
                  <td>298</td>
                  <td>350</td>
                  <td>382</td>
                  <td>414</td>
                  <td>446</td>
                  <td>478</td>
                  <td>51</td>
                  <td>499</td>
                  <td>500</td>
                  <td>504</td>
                  <td>515</td>
                </tr>
                <tr>
                  <td>Аренда (руб./сутки.)</td>
                  <td>250</td>
                  <td>250</td>
                  <td>300</td>
                  <td>300</td>
                  <td>350</td>
                  <td>350</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>450</td>
                  <td>500</td>
                  <td>550</td>
                  <td>600</td>
                  <td>650</td>
                  <td>700</td>
                  <td>800</td>
                </tr>
              </table>
            </div>
            <h5 class="table-sub-header">Вышка-тура 2.0/2.0</h5>
            <div style="overflow-x:scroll">
              <table style="overflow-x: scroll; max-width: 100%">
                <tr>
                  <td>Высота вышки(м.)</td>
                  <td>2,75</td>
                  <td>3,95</td>
                  <td>5,15</td>
                  <td>6,35</td>
                  <td>7,55</td>
                  <td>8,75</td>
                  <td>9,95</td>
                  <td>11,15</td>
                  <td>12,35</td>
                  <td>13,55</td>
                  <td>14,75</td>
                  <td>15,95</td>
                  <td>17,20</td>
                  <td>18,40</td>
                  <td>19,60</td>
                  <td>20,80</td>
                </tr>
                <tr>
                  <td>Залог (руб.)</td>
                  <td>11000</td>
                  <td>13000</td>
                  <td>15000</td>
                  <td>17000</td>
                  <td>20000</td>
                  <td>22000</td>
                  <td>24000</td>
                  <td>26000</td>
                  <td>28000</td>
                  <td>30000</td>
                  <td>32000</td>
                  <td>34000</td>
                  <td>37000</td>
                  <td>39000</td>
                  <td>41000</td>
                  <td>43000</td>
                </tr>
                <tr>
                  <td>Доставка (руб.)</td>
                  <td>1300</td>
                  <td>1300</td>
                  <td>1300</td>
                  <td>1300</td>
                  <td>1300</td>
                  <td>1300</td>
                  <td>1300</td>
                  <td>1300</td>
                  <td>1300</td>
                  <td>1300</td>
                  <td>1300</td>
                  <td>1300</td>
                  <td>1300</td>
                  <td>1300</td>
                  <td>1300</td>
                  <td>1300</td>
                </tr>
                <tr>
                  <td>Вес (кг.)</td>
                  <td>144</td>
                  <td>173</td>
                  <td>202</td>
                  <td>231</td>
                  <td>266</td>
                  <td>298</td>
                  <td>318</td>
                  <td>347</td>
                  <td>376</td>
                  <td>405</td>
                  <td>434</td>
                  <td>463</td>
                  <td>473</td>
                  <td>484</td>
                  <td>504</td>
                  <td>515</td>
                </tr>
                <tr>
                  <td>Аренда (руб./сутки.)</td>
                  <td>350</td>
                  <td>400</td>
                  <td>450</td>
                  <td>450</td>
                  <td>500</td>
                  <td>500</td>
                  <td>550</td>
                  <td>550</td>
                  <td>600</td>
                  <td>600</td>
                  <td>650</td>
                  <td>650</td>
                  <td>700</td>
                  <td>700</td>
                  <td>750</td>
                  <td>800</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="promo py-5 bg-primary"
      style="margin-top: 24px;"
      data-aos="fade"
    >
      <div class="container text-center">
        <h2 class="d-block mb-0 font-weight-light text-white">
          <nuxt-link to="/calculator" class="text-white d-block"
            >Калькулятор</nuxt-link
          >
        </h2>
      </div>
    </div>
    <Footer />
  </div>
</template>
<script>
import Header from "@/components/Header";
import Slider from "@/components/Slider";
import Footer from "@/components/Footer";
export default {
  components: { Header, Slider, Footer }
};
</script>
<style>
table {
}
td {
  border: 1px solid #ccc;
  padding: 10px;
}
.table-header {
  margin: 48px 0 24px;
}
.table-sub-header {
  margin: 36px 0 16px;
}
</style>
