<template>
  <div class="root">
    <Header />
    <main>
      <h2 class="page-title">О компании</h2>

      <div
        class="site-section border-bottom bg-light py-5"
        style="margin: 0 -15px"
      >
        <div class="container">
          <div class="row">
            <div class="col-12 text-center mb-5">
              <h2
                class="text-black h6 font-weight-bold text-uppercase"
                data-aos="fade"
              >
                Наша компания предлагает
              </h2>
            </div>
            <div
              class="col-md-6 col-lg-4 mb-5 mb-lg-0"
              data-aos="fade"
              data-aos-delay="0"
            >
              <div class="d-flex align-items-center">
                <div class="mr-3">
                  <span class="flaticon-worker display-3 text-primary"></span>
                </div>
                <div class="">
                  <h2 class="text-black">Своевременное обслуживание</h2>
                  <strong class="text-black">сдаваемой напрокат</strong>
                  продукции
                </div>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-4 mb-5 mb-lg-0"
              data-aos="fade"
              data-aos-delay="200"
            >
              <div class="d-flex align-items-center">
                <div class="mr-3">
                  <span
                    class="flaticon-planet-earth display-3 text-primary"
                  ></span>
                </div>
                <div class="">
                  <h2 class="text-black">Доставка по</h2>
                  <strong class="text-black"
                    >Санкт-петербургу и Ленинградской</strong
                  >
                  области
                </div>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-4 mb-0 mb-lg-0"
              data-aos="fade"
              data-aos-delay="300"
            >
              <div class="d-flex align-items-center">
                <div class="mr-3">
                  <span
                    class="flaticon-excavator display-3 text-primary"
                  ></span>
                </div>
                <div class="">
                  <h2 class="text-black">Гарантируем качество</h2>
                  <strong class="text-black">и надежность</strong> изделий
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="site-section section-about" style="padding: 4em 0 1em">
        <div class="container">
          <div class="row mb-5 justify-content-center">
            <div class="col-md-10 text-center">
              <h2 class="display-4 text-black mb-5">
                Аренда строительного инструмента и оборудования
              </h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-md-5 text-center mb-5">
              <div>
                <img
                  src="images/person_1.jpg"
                  alt="Image"
                  class="w-100 mb-5 rounded"
                />
                <p class="lead">
                  Наша компания специализируется на продаже и аренде различных
                  приспособлений и техники, которые повысят производительность и
                  снизят трудоемкость строительства.
                </p>
              </div>
            </div>
            <div class="col-md-6 pl-md-5 text-center">
              <div>
                <img
                  src="images/person_3.jpg"
                  alt="Image"
                  class="w-100 mb-5 rounded"
                />
                <p class="lead">
                  У нас вы сможете купить или взять в аренду на необходимый
                  период: строительные леса любых видов вышки-туры строительные
                  инструменты и т.д.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="site-section">
          <div class="container">
            <div class="row">
              <div class="col-md-12 pr-md-5 order-md-1">
                <h2
                  class="display-3 line-height-xs text-black mb-4 text-center"
                >
                  Строительное оборудование<br />
                  <strong> Незаменимый помощник</strong>
                </h2>
                <p class="mb-4 text-center">
                  Современное строительное оборудование позволяет значительно
                  повысить производительность труда и качество выполняемых
                  работ. Большая точность обработки поверхностей или
                  приготовления растворов обеспечивается техническими
                  характеристиками и настройкой инструментов. Так же от
                  параметров оборудования зависит безопасность персонала,
                  работающего на стройплощадке. Дилемма выбора качественного
                  оснащения и экономии средств решается просто: организации и
                  частные мастера берут строительное оборудование и инструменты
                  в аренду. Благодаря такому решению арендаторы получают
                  оборудование, когда оно необходимо для выполнения работ, за
                  сумму гораздо меньшую его стоимости. После использования
                  заказчик возвращает инструмент или оснащение владельцу и не
                  беспокоится о его хранении, обслуживании и ремонте
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  <div class="container-fluid">
        <div class="row">
          <div
            class="col-md-12 bg-image bg-sm-height mb-5 mb-md-0 order-md-2"
            style="background-image: url('images/img_2_colored.jpg'); min-height: 400px;"
            data-aos="fade-up"
          ></div>
        </div>
      </div> -->
      <div class="site-section site-block-3 bg-light">
        <div class="container">
          <div class="row align-items-stretch">
            <div
              class="col-lg-6 mb-5 mb-lg-0 bg-image bg-md-height"
              style="background-image: url('/images/img_1_colored.jpg')"
            ></div>
            <div class="col-lg-6 h-100">
              <div class="row row-items">
                <div class="col-md-6 mb-5 mb-md-0">
                  <a
                    href="#"
                    class="d-flex text-center feature active p-4 mb-4 bg-white"
                  >
                    <span class="align-self-center w-100">
                      <span class="d-block mb-3">
                        <span class="flaticon-industry display-3"></span>
                      </span>
                      <h3>
                        <strong class="d-block">Гарантия</strong> качества
                      </h3>
                    </span>
                  </a>
                </div>
                <div class="col-md-6 mb-5 mb-md-0">
                  <a
                    href="#"
                    class="d-flex text-center feature p-4 mb-4 bg-white"
                  >
                    <span class="align-self-center w-100">
                      <span class="d-block mb-3">
                        <span class="flaticon-worker display-3"></span>
                      </span>
                      <h3>
                        <strong class="d-block">Своевременное</strong>
                        обслуживание
                      </h3>
                    </span>
                  </a>
                </div>
              </div>
              <div class="row row-items last">
                <div class="col-md-6 mb-5 mb-md-0">
                  <a
                    href="#"
                    class="d-flex text-center feature p-4 mb-4 bg-white"
                  >
                    <span class="align-self-center w-100">
                      <span class="d-block mb-3">
                        <span class="flaticon-planet-earth display-3"></span>
                      </span>
                      <h3>
                        <strong class="d-block">Доставка по</strong>
                        Санкт-петербургу и Ленинградской области
                      </h3>
                    </span>
                  </a>
                </div>
                <div class="col-md-6 mb-5 mb-md-0">
                  <a
                    href="#"
                    class="d-flex text-center active feature p-4 mb-4 bg-white"
                  >
                    <span class="align-self-center w-100">
                      <span class="d-block mb-3">
                        <span class="flaticon-excavator display-3"></span>
                      </span>
                      <h3>
                        <strong class="d-block">Надежность</strong> изделий
                      </h3>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="promo py-5 bg-primary" style="margin: 30px 0">
        <div class="container text-center">
          <h2 class="d-block mb-0 font-weight-light text-white">
            <nuxt-link to="/calculator" class="text-white d-block"
              >Калькулятор</nuxt-link
            >
          </h2>
        </div>
      </div>
    </main>
    <Footer />
  </div>
</template>
<script>
import Header from "@/components/Header";
import Slider from "@/components/Slider";
import Footer from "@/components/Footer";
export default {
  components: { Header, Slider, Footer }
};
</script>
<style>
.lead {
  font-weight: 400;
}
</style>
