<template>
    <div class="root">
        <Header />
            <main>
                <h2 class="page-title">Калькулятор</h2>
                <Calc />
            </main>
        <Footer />
    </div>
</template>
<script>
import Header from '@/components/Header'
import Footer from '@/components/Footer'
import Calc from '@/components/calc/Calc'
export default {
    components: { Header, Footer, Calc }
}
</script>