<template>
  <div class="root">
    <Header />
    <main>
      <h2 class="page-title">Контакты</h2>

      <div class="site-section bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-8 mb-5">
              <form action="#" class="p-5 bg-white">
                <p
                  style="margin-bottom: 3.5rem !important; color: #000000 !important"
                >
                  Не нашли нужную информацию? Заполните форму ниже, и мы ответим
                  на все интересующие вас вопросы и поможем оставить заявку
                </p>
                <div class="row form-group">
                  <div class="col-md-12 mb-3 mb-md-0">
                    <label class="font-weight-bold" for="fullname">Имя</label>
                    <input
                      type="text"
                      id="fullname"
                      class="form-control"
                      placeholder=""
                    />
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-12">
                    <label class="font-weight-bold" for="email">Email</label>
                    <input
                      type="email"
                      id="email"
                      class="form-control"
                      placeholder=""
                    />
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col-md-12">
                    <label class="font-weight-bold" for="message"
                      >Комментарий</label
                    >
                    <textarea
                      name="message"
                      id="message"
                      cols="30"
                      rows="5"
                      class="form-control"
                      placeholder=""
                    ></textarea>
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col-md-12">
                    <input
                      type="submit"
                      value="Отправить"
                      class="btn btn-primary"
                      :style="{ border: '1px solid #ffffff !important' }"
                    />
                  </div>
                </div>
              </form>
            </div>

            <div class="col-lg-4">
              <div class="p-4 mb-3 bg-white">
                <h3 class="h5 text-black mb-3">Контактная информация</h3>
                <p class="mb-0 font-weight-bold">Адрес</p>
                <p class="mb-4">г. Санкт-Петербург, Уманский переулок дом 79</p>

                <p class="mb-0 font-weight-bold">Телефон</p>
                <p class="mb-4">
                  <a href="tel:+79052094848">+7 (905) 209 48 48</a>
                </p>
                <p class="mb-4">
                  <a href="tel:+79219720604">+7 (921) 972-06-04</a>
                  <br />
                  Принимаются заявки в
                  <a
                    href="https://wa.me/79219720604"
                    style="text-decoration: underline solid rgb(0, 0, 0);"
                    >WhatsApp</a
                  >
                </p>

                <p class="mb-0 font-weight-bold">Email</p>
                <p class="mb-0">
                  <a href="mailto:info@ak-rental.ru">info@ak-rental.ru</a>
                </p>
                <p class="mb-o">
                  Подписывайтесь на нас в
                  <a
                    href="https://instagram.com/irstroi"
                    style="text-decoration: underline solid rgb(0, 0, 0);"
                    >Инстаграм</a
                  >, Мы на связи с 9 до 21 по будням и с 10 до 18 по выходным.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="promo py-5 bg-primary" data-aos="fade">
        <div class="container text-center">
          <h2 class="d-block mb-0 font-weight-light text-white">
            <nuxt-link to="/calculator" class="text-white d-block"
              >Калькулятор</nuxt-link
            >
          </h2>
        </div>
      </div>
    </main>
    <Footer />
  </div>
</template>
<script>
import Header from "@/components/Header";
import Slider from "@/components/Slider";
import Footer from "@/components/Footer";
export default {
  components: { Header, Slider, Footer }
};
</script>
<style>
.form-group {
  padding: 0;
}
</style>
