<template>
  <div class="root">
    <Header />
    <main>
      <Slider
        :slides="[
          {
            url: 'hero_bg_1.jpg',
            header: 'Аренда и продажа строительных лесов'
          },
          {
            url: 'hero_bg_3.jpg',
            header: 'Аренда инструментов'
          }
        ]"
      />
      <div class="site-section border-bottom bg-light py-5">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center mb-5">
              <h2
                class="text-black h6 font-weight-bold text-uppercase"
                data-aos="fade"
              >
                Наша компания предлагает
              </h2>
            </div>
            <div
              class="col-md-6 col-lg-4 mb-5 mb-lg-0"
              data-aos="fade"
              data-aos-delay="0"
            >
              <div class="d-flex align-items-center">
                <div class="mr-3">
                  <span class="flaticon-worker display-3 text-primary"></span>
                </div>
                <div class="">
                  <h2 class="text-black">Своевременное обслуживание</h2>
                  <strong class="text-black">сдаваемой напрокат</strong>
                  продукции
                </div>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-4 mb-5 mb-lg-0"
              data-aos="fade"
              data-aos-delay="200"
            >
              <div class="d-flex align-items-center">
                <div class="mr-3">
                  <span
                    class="flaticon-planet-earth display-3 text-primary"
                  ></span>
                </div>
                <div class="">
                  <h2 class="text-black">Доставка по</h2>
                  <strong class="text-black"
                    >Санкт-петербургу и Ленинградской</strong
                  >
                  области
                </div>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-4 mb-0 mb-lg-0"
              data-aos="fade"
              data-aos-delay="300"
            >
              <div class="d-flex align-items-center">
                <div class="mr-3">
                  <span
                    class="flaticon-excavator display-3 text-primary"
                  ></span>
                </div>
                <div class="">
                  <h2 class="text-black">Гарантируем качество</h2>
                  <strong class="text-black">и надежность</strong> изделий
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="site-section">
        <div class="container">
          <div class="row mb-5 justify-content-center">
            <div class="col-12 text-center">
              <h2 class="font-weight-light text-black display-4">
                Наши услуги
              </h2>
            </div>
            <div class="col-md-10 text-center">
              <p>
                Мы предлагаем большой ассортимент различных изделий, техники и
                оснастки для оперативного и беспроблемного выполнения любых
                строительно-ремонтных работ. Конструкция, представляет собой
                сборный пространственный каркас с пешеходным настилом,
                выполненный из вертикальных рам. В качестве соединений
                используются горизонтальные штанги, крепящиеся с помощью
                специальных диагональных распорок. Мы можем гарантировать, что
                оборудование и оснащение для строительства, арендованное у нас,
                находится в идеальном техническом состоянии и соответствует
                высочайшим стандартам, нормам и требованиям по безопасности.
              </p>
            </div>
          </div>
          <div class="row no-gutters align-items-stretch h-100">
            <div class="col-lg-6">
              <div class="row no-gutters align-items-stretch h-100 half-sm">
                <div
                  class="col-md-6 bg-image bg-sm-height"
                  style="background-image: url('images/img_4_colored.jpg');"
                  data-aos="fade"
                  data-aos-delay="0"
                ></div>
                <div class="col-md-6 bg-light text">
                  <div class="p-4">
                    <h2 class="h5 mb-3 text-black line-height-sm">
                      Продажа лесов
                    </h2>
                    <p class="mb-0">
                      <nuxt-link to="/prodazha/lesa" class=""
                        ><small
                          class="text-uppercase font-weight-bold text-black"
                          >Подробнее...</small
                        ></nuxt-link
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row no-gutters align-items-stretch h-100 half-sm">
                <div
                  class="col-md-6 bg-image order-md-2 order-lg-1 bg-sm-height"
                  style="background-image: url('images/img_1_colored.jpg');"
                  data-aos="fade"
                  data-aos-delay="200"
                ></div>
                <div class="col-md-6 bg-light text order-md-1 order-lg-2">
                  <div class="p-4">
                    <h2 class="h5 mb-3 text-black line-height-sm">
                      Продажа вышек тур
                    </h2>
                    <p class="mb-0">
                      <nuxt-link to="/prodazha/tury" class=""
                        ><small
                          class="text-uppercase font-weight-bold text-black"
                          >Подробнее...</small
                        ></nuxt-link
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="row no-gutters align-items-stretch h-100 half-sm">
                <div
                  class="col-md-6 bg-image order-md-1 order-lg-2 bg-sm-height"
                  style="background-image: url('images/img_2_colored.jpg');"
                  data-aos="fade"
                  data-aos-delay="300"
                ></div>
                <div class="col-md-6 bg-light text order-md-2 order-lg-1">
                  <div class="p-4">
                    <h2 class="h5 mb-3 text-black line-height-sm">
                      Аренда лесов
                    </h2>
                    <p class="mb-0">
                      <nuxt-link to="/arenda/lesa" class=""
                        ><small
                          class="text-uppercase font-weight-bold text-black"
                          >Подробнее...</small
                        ></nuxt-link
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row no-gutters align-items-stretch h-100 half-sm">
                <div
                  class="col-md-6 bg-image order-md-2 bg-sm-height"
                  style="background-image: url('images/img_3_colored.jpg');"
                  data-aos="fade"
                  data-aos-delay="400"
                ></div>
                <div class="col-md-6 bg-light text order-md-1">
                  <div class="p-4">
                    <h2 class="h5 mb-3 text-black line-height-sm">
                      Аренда инструментов
                    </h2>
                    <p class="mb-0">
                      <nuxt-link to="/arenda/instrumenty" class=""
                        ><small
                          class="text-uppercase font-weight-bold text-black"
                          >Подробнее...</small
                        ></nuxt-link
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="site-section">
        <div class="container">
          <div class="row">
            <div
              class="col-md-6 bg-image bg-sm-height mb-5 mb-md-0 order-md-2"
              style="background-image: url('images/img_1_colored.jpg');"
              data-aos="fade-up"
            ></div>
            <div class="col-md-6 pr-md-5 order-md-1">
              <h2 class="display-3 line-height-xs text-black mb-4">
                Наша<strong> компания</strong>
              </h2>
              <p class="mb-4">
                Специализируется на продаже и аренде различных приспособлений,
                изделий техники и оснастки, которые повысят производительность и
                снизят трудоемкость строительства. У нас вы сможете купить или
                взять в аренду на необходимый период:
              </p>
              <ul class="site-block-check">
                <li>строительные леса любых видов</li>
                <li>строительные вышки-туры</li>
                <li>строительные инструменты</li>
                <li>электрооборудование</li>
                <li>строительную технику и многое другое</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="site-section">
        <div class="container">
          <div
            class="site-block-half d-block d-lg-flex site-block-video row"
            data-aos="fade"
          >
            <div
              class="image bg-image order-2 col-md-6 bg-sm-height mb-5 mb-md-0 order-md-1"
              style="background-image: url(images/hero_bg_1.jpg); width: 100%; min-height: 400px"
            ></div>

            <div class=" col-md-6 order-2 " style="padding-left: 32px">
              <h2 class="site-heading text-black mb-3">Аренда</h2>
              <p class="lead">
                Строительного электро и бензоинструмента весьма востребована в
                современном строительстве. Ведь не секрет, что для выполнения
                многих строительных и отделочных работ, требуется
                профессиональная и качественная техника и оборудование, а её
                стоимость бывает очень высока. Тут на помощь готова придти наша
                компания. Мы предлагаем широкий ассортимент современного и
                качественного оборудования, соответствующего высочайшим
                стандартам, нормам и требованиям по безопасности, для аренды на
                любой срок.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="promo py-5 bg-primary" data-aos="fade">
        <div class="container text-center">
          <h2 class="d-block mb-0 font-weight-light text-white">
            <nuxt-link to="/calculator" class="text-white d-block"
              >Калькулятор</nuxt-link
            >
          </h2>
        </div>
      </div>
    </main>
    <Footer />
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";
import Slider from "@/components/Slider.vue";
export default {
  components: { Header, Footer, Slider }
};
</script>

<style></style>
